<div class="<%= className || 'input' %>">
  <input
    type="<%= type %>"
    name="<%= name %>"
    value="<%= value || null %>"
    placeholder<%= placeholder || '' %>
    required=" "
  >
  <label for="<%= name %>"><%= label %></label>
</div>

<style>
  label{
    color: red;
  }
</style>