<div class="<%= className || 'input' %>">
  <input
    type="<%= type %>"
    name="<%= name %>"
    value="<%= value || '' %>"
    placeholder=" "
    required="<%= required  %>"
  >
  <label for="<%= name %>"><%= label %></label>
</div>